resources/digital-anon-test.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Digital Anon Test</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-09-27Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="digital-anon-test" source="teipublisher.odd"> <elementSpec ident="choice" mode="change">
                    <model predicate="sic and corr" behaviour="alternate">
            <param name="default" value="sic[1]"/>
            <param name="alternate" value="corr[1]"/>
            <outputRendition xml:space="preserve">
            color: crimson
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model behaviour="inline">
            <param name="default"/>
            <outputRendition xml:space="preserve">
            color: green; text-decoration: underline; vertical-align: super; font-size: 0.9em
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: indigo; text-decoration: underline
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: line-through;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model predicate="ancestor::l" behaviour="inline">
            <desc>Highlight quoted text (inline)</desc>
            <outputRendition xml:space="preserve">
            font-style: italic
            </outputRendition>
        </model>
                    <model predicate="ancestor::p" behaviour="block">
            <desc>Highlight quoted text (block)</desc>
            <outputRendition xml:space="preserve">
            font-style: italic
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="TEI" mode="change">
                    <model behaviour="document"/>
                </elementSpec>
                <elementSpec ident="TeiHeader" mode="add"/>
            </schemaSpec>
        </body>
    </text>
</TEI>